body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.app-title {
  font-size: 1.5em;
}

.btn {
    border: 1px solid #3e3e3e;
    color: #3e3e3e;
    display: inline-block;
    padding: 10px 20px;
}

.avatar {
  height: 60px;
  width: 60px;
  margin: 2rem auto 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
}

.avatar:hover {
  cursor: pointer;
}

.avatar:hover, .avatar:focus {
  border: 1px solid rgb(155, 160,163);
}

.popover {
  width: 280px;
  min-height: 100px;
  border-radius: 2px;
  background: rgb(44, 48, 51);
  box-shadow: 2px 2px 10px rgb(102, 102, 102);
  padding: 14px;
  margin: -10px auto auto;
  position: relative;
}

.popover:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
  pointer-events: none;
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgb(44, 48, 51);
	border-width: 8px;
	margin-left: -8px;
}

.avatar-wrapper {
  /*
    we're not explicitly setting the popup to be four icons wide
    we're simply leveraging the fact that the popup and icons have explicitly-set widths
    hence they end up being four-per-row when wrapped anyway
  */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.popover-title {
  color: rgb(249, 249, 249);
  size: 16px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.popover .avatar {
  border: 3px solid transparent;
  position: relative;
  margin: 0;
}


.popover .avatar:hover {
  /* it's a shame CSS variables are IE incompatible */
  border: 3px solid rgb(155, 160, 163);
  /* color: rgb(122, 161, 178, 0.2); */
}


/* this doesn't work yet */
/* .popover .avatar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgb(122, 161, 178);
  background-size: 100% 100%;
  opacity: 0;
}

.popover .avatar:before:hover {
  opacity: 1;
}
*/
